<!-- <%- include("partials/header") -%>
<style>
    table{
        color: black;
    }
    table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td,
  th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: white;
    /* color: #00b894; */
  }
  tr:nth-child(even) {
    background-color: #00b894;
  }
</style>
<main>
    <section>

        <h1>Owner</h1>
        <br />
        <p>

            Name: <%=owner.name%><br />
            Mobile: <%=owner.mNumber%><br />
            Email: <%=owner.username%><br />
        </p>
        
        <h1>Venues</h1>
<div class="name"></div>
<br /><br><br>

<table>
    <thead>
        <tr class="heading">
            <th scope="col">Place name</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Type</th>
            <th scope="col">Capacity</th>
            <th scope="col">Price</th>
            <th scope="col">Bookings</th>
        </tr>
    </thead>
    <tbody>
        <% if(record.length > 0){ %> <% record.forEach(function(element){ %> 
            <% if(element.owner===owner.username){ %>
                <tr>
                    <td scope="col"><%= element.username %></td>
              <td scope="col"><%= element.cityName %></td>
              <td scope="col"><%= element.stateName %></td>
              <td scope="col"><%= element.type %></td>
              <td scope="col"><%= element.capacity %></td>
              <td scope="col"><%= element.price %></td>
              <td scope="col">
                <% if(element.isOccupied==="No"){ %>
                    None
                <% }else{ %>
                   <a href="users/ + <%= element.isOccupied %>"> <%= element.isOccupied %> </a>
                <% } %>
            </td>
            </tr>
            <% } %>
            <% }); %> <% } %>
        </tbody>
    </table>
    
    <form action="/view_owner" method="post">
    
        <button id="addbtn" style=" background-color: #4CAF50;color: white;
        margin-top: 5%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;" type="submit">Add Venue</button>
    <input type="hidden" name="ownerdtl" value="<%=owner.username%>">
    </form>
    
</section>
</main>



<li><a href="/logout" class="btntwo">Logout</a></li>

<%- include("partials/footer") -%>

 -->










<!-- <%- include("partials/header") -%> -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Dongle&family=Fira+Sans&family=Source+Code+Pro:wght@300&family=Source+Sans+Pro:wght@300&display=swap"
  rel="stylesheet">
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: bisque; */
  }

  body {
    background: url(images/html_table.jpg) center / cover;
    font-family: "Josefin Sans", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .btntwo {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #00b894;
    margin-left: 2%;
    color: white;
  }

  .btntwo:hover {
    background: #fff;
    color: #000;
  }

  main {

    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* color: white; */
  }

  section h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    color: black;
    /* text-shadow: 1px 1px 2px black; */
  }

  section h1 {
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    /* text-shadow: 2px 1px 5px black; */
    color: black;
    text-transform: uppercase;
  }

  section p {
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    color: black;
    /* text-shadow: 1px 1px 1px black; */
  }

  section a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }

  .classbtns {
    /* margin-top: 10%; */
    /* padding-top: 10%; */
  }


  section {
    margin-left: 2rem;
    margin-right: 2rem;
  }


  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main.table {
    /* background: url(images/html_table.jpg) center / cover; */
    width: 82vw;
    height: 90vh;
    background-color: #fff5;
    padding-top: 2%;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
  }

  .table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
  }

  .table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
  }

  .table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
  }

  .table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .table__body {
    width: 95%;
    min-height: 60vh;
    height: fit-content;
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
  }

  .table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  .table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
  }

  .table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }

  table {
    width: 100%;
  }

  td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
  }

  table,
  th,
  td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
  }

  thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
  }


  tbody tr:nth-child(even) {
    background-color: #0000000b;
  }

  tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
  }

  tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
  }

  tbody tr:hover {
    background-color: #fff6 !important;
  }

  tbody tr td,
  tbody tr td p,
  tbody tr td img {
    transition: .2s ease-in-out;
  }

  tbody tr.hide td,
  tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
  }

  tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
  }

  .status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
  }

  .status.delivered {
    background-color: #86e49d;
    color: #006b21;
  }

  .status.cancelled {
    background-color: #d893a3;
    color: #b30021;
  }

  .status.pending {
    background-color: #ebc474;
  }

  .status.shipped {
    background-color: #6fcaea;
  }


  @media (max-width: 1000px) {
    td:not(:first-of-type) {
      min-width: 12.1rem;
    }
  }

  thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;

    text-align: center;
    font-size: 1rem;

    margin-left: .5rem;
    transition: .2s ease-in-out;
  }

  thead th:hover span.icon-arrow {
    border: 1.4px solid #6c00bd;
  }

  thead th:hover {
    color: #6c00bd;
  }

  thead th.active span.icon-arrow {
    background-color: #6c00bd;
    color: #fff;
  }

  thead th.asc span.icon-arrow {
    transform: rotate(180deg);
  }

  thead th.active,
  tbody td.active {
    color: #6c00bd;
  }

  form {
    /* margin-top: 5%; */
    /* padding-left: 7%; */
  }

  tbody {
    max-height: 60v;
    height: fit-content;
    overflow: scroll;
  }


  #table_two {
    margin-top: 5%;
    margin-left: 7%;
    height: fit-content;
    /* max-height: 60vh; */
    /* overflow-y: scroll; */
  }

  .card {
    /* border-radius: 5%; */
    text-align: left;
    border: 1px solid #000;
    background-color: white;
    color: #00b894;
    background-color: bisque;
    width: 30vw;
    margin-left: 35%;
    padding: 3rem 0 3rem 5rem;
  }

  .classbtns {
    padding-bottom: 2rem;
    /* background-color: #00b894; */
  }

  .submit {
    margin-bottom: 1rem;
    margin-top: 2%;
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }

  #table_three {
    height: fit-content;
    margin: auto;
    width: fit-content;
    min-width: 30%;
    font-family: 'Dongle', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Source Sans Pro', sans-serif;
  }
</style>
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-EeYzJK6euTBx3q3sBYwvwoxmQ2iH/oG9TfM+TzT/HaMQh06ZzrrFqo3RsPh+3lwGMQs+SPQTs9XmxW1zTlYJg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>

  <main>
    <section>










      <style>
        /* Style the floating form */
        .floating-form {
          min-width: 25%;
          width: fit-content;
          height: fit-content;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff;
          border: 1px solid #ccc;
          padding: 20px;
          z-index: 9999;
        }
      </style>











      <div class="info">
        <h1>Welcome</h1>
        <br />

        <main class="table" id="table_three">

          <h3>Name: <%=owner.name%>
          </h3><br>

          <h3> Mobile: <%=owner.mNumber%>
          </h3><br>

          <h3>Email: <%=owner.username%>
          </h3>


          <button id="open-form-btn" class="btntwo submit">Update profile</button>




        </main>



        <div id="floating-form" class="floating-form" style="display: none;">
          <i id="close-icon" class="fas fa-times close-icon"><img src="../images/close.png" height="20px"
              align="right" /></i>
          <br><br>
          <h3>Enter Your Information:</h3>
          <form method="post" action="/update_owner" onsubmit="return validateForms()">
            <input type="hidden" name="owner" value="<%=owner._id%>">
            <label for="fname">Name:</label>
            <input type="text" id="fname" name="fname" required><br><br>
            <label for="number">Mobile:</label>
            <input typr="text" id="number" name="number" required /><br><br>


            <button type="submit" class="btntwo submit">Submit</button>
          </form>
        </div>

        <script>

          function isAllNumber(input) {
            return /^\d{10}$/.test(input);
          }
          function isAllAlphabet(input) {
            return /^[a-zA-Z\s]+$/.test(input);
          }
          function validateForms() {
            var fnameInput = document.getElementById('fname');
            var fnameValue = fnameInput.value;
            var numberInput = document.getElementById('number');
            var numberValue = numberInput.value;
            if (!isAllAlphabet(fnameValue)) {
              alert('Name should contain only alphabets');
              return false;
            }
            if (!isAllNumber(numberValue)) {
              alert('Mobile numbers should contain exactly 10 numbers');
              return false;
            }

            return true;
          }


          const floatingFo = document.getElementById('floating-form');
          const closeIcon = document.getElementById('close-icon');

          closeIcon.addEventListener('click', () => {
            floatingFo.style.display = 'none';
          });
          // Get the button and floating form elements
          const openFormBtn = document.getElementById("open-form-btn");
          const floatingForm = document.getElementById("floating-form");
          // const closeFormBtn = document.getElementById("close-form-btn");

          // Add event listener to open form button
          openFormBtn.addEventListener("click", () => {
            if (floatingForm.style.display === "none") {
              floatingForm.style.display = "block";
              // openFormBtn.innerHTML = "Close Form";
            } else {
              floatingForm.style.display = "none";
              // openFormBtn.innerHTML = "Update Profile";
            }
          });
        </script>












        <main class="table" id="table_two">
          <section class="table__header">
            <h3>Venues</h3>
          </section>

          <form method="post" id="my-form">
            <section class="table__body">
              <table>
                <thead>
                  <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Venue name</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Type</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Booked</th>
                  </tr>
                </thead>

                <tbody>
                  <% if(record.length> 0){ %> <% record.forEach(function(element){ %>
                      <% if(element.owner===owner.username){ %>
                        <tr>
                          <input type="hidden" name="ownerdtl" value="<%=owner._id%>">
                          <td><input type="radio" name="selectvenue" value="<%= element._id %>" id="selectvenue"
                              required></td>
                          <td scope="col">
                            <%= element.username %>
                          </td>
                          <td scope="col">
                            <%= element.cityName %>
                          </td>
                          <td scope="col">
                            <%= element.stateName %>
                          </td>
                          <td scope="col">
                            <%= element.type %>
                          </td>
                          <td scope="col">
                            <%= element.capacity %>
                          </td>
                          <td scope="col">
                            <%= element.price %>
                          </td>
                          <td scope="col">
                            <% if(element.isOccupied==="No" ){ %>
                              No
                              <% }else{ %>
                                Yes
                                <% } %>
                          </td>


                        </tr>
                        <% } %>
                          <% }); %>
                            <% } %>
                </tbody>




              </table>
            </section>
            <button class="btntwo submit" type="submit" id="submit-button-2" name="submit-button"
              value="submit-2">Delete</button>
            <button class="btntwo submit" type="button" id="submit-button-1" name="submit-button" value="submit-1"
              onclick="getFormValues()">Update</button>
          </form>




          <script>
            const form = document.getElementById('my-form');
            // const submitButton1 = document.getElementById('submit-button-1');
            const submitButton2 = document.getElementById('submit-button-2');








            function getFormValues() {

              const radios = document.querySelectorAll('input[type="radio"][name="selectvenue"]');
              let selectedOption;

              radios.forEach(radio => {
                if (radio.checked) {
                  selectedOption = radio.value;
                }
              });

              console.log(selectedOption);



              // var selectedvenue = document.getElementById('selectvenue').value;
              // console.log(selectedvenue);
              document.getElementById('venuedtl').value = selectedOption;
              console.log(document.getElementById('venuedtl').value);
            }















            submitButton2.addEventListener('click', (event) => {
              // Prevent the default form submission behavior
              event.preventDefault();

              // Specify the action URL for the form submission
              const actionUrl = '/delete_venue';
              form.action = actionUrl;

              // Submit the form
              form.submit();
            });
          </script>
        </main>


        <div id="floating-forms" class="floating-form" style="display: none;">

          <i id="close-icons" class="fas fa-times close-icon"><img src="../images/close.png" height="20px"
              align="right" /></i>
          <br><br>
          <h3>Enter Your Information:</h3>
          <form method="post" action="/update_venue" onsubmit="return validateForm()">
            <input type="hidden" name="ownerdtl" value="<%=owner._id%>">
            <input type="hidden" name="venuedtl" value="" id="venuedtl">

            <select id="type" name="type">
              <option value="">Event Type</option>
              <option value="Birthdays">Birthdays</option>
              <option value="Weddings">Weddings</option>
              <option value="Anniversaries">Anniversaries</option>
              <option value="Product Launches">Product Launches</option>
              <option value="Exhibitions">Exhibitions</option>
              <option value="Seminars">Seminars</option>
            </select><br><br>

            <label for="Price">Price</label>
            <input type="number" id="Price" required name="price" /> <br><br>

            <label for="Capacity">Capacity</label>
            <input type="number" id="Capacity" required name="capacity" /><br><br>

            <p>Please refresh the page to view results</p>r
            <button type="submit" class="btntwo submit">Submit</button>
          </form>




        </div>

        <script>
          function isAllNumbers(input) {
            return /^\d{10}$/.test(input);
          }
          var numberInput = document.getElementById('number');
          var numberValue = numberInput.value;
          function isAllAlphabets(input) {
            return /^[a-zA-Z]+$/.test(input);
          }

          function validateForm() {
            var fnameInput = document.getElementById('fname');
            var fnameValue = fnameInput.value;
            var lnameInput = document.getElementById('lname');
            var lnameValue = lnameInput.value;
            if (!isAllAlphabets(fnameValue)) {
              alert('First name should contain only alphabets');
              return false;
            }

            if (!isAllAlphabets(lnameValue)) {
              alert('Last name should contain only alphabets');
              return false;
            }
            if (!isAllNumbers(numberValue)) {
              alert('Mobile numbers should contain exactly 10 numbers');
              return false;
            }

            return true;
          }



          const floatingFor = document.getElementById('floating-form');
          const openFormBtns = document.getElementById('submit-button-1');
          const floatingForms = document.getElementById("floating-forms");
          const closeIcons = document.getElementById('close-icons');

          closeIcons.addEventListener('click', () => {
            floatingForms.style.display = 'none';
          });
          //             // Get the button and floating form elements
          // const closeFormBtn = document.getElementById("close-form-btn");

          //             // Add event listener to open form button
          openFormBtns.addEventListener("click", () => {
            if (floatingForms.style.display === "none") {
              floatingForms.style.display = "block";
              // openFormBtn.innerHTML = "Close Form";
            } else {
              floatingForms.style.display = "none";
              // openFormBtn.innerHTML = "Update Profile";
            }
          });


        </script>




        <form action="/view_owner" method="post">

          <div class="classbtns">
            <button type="submit" class="btntwo submit">Add Venue</button>
          </div>
          <input type="hidden" name="ownerdtl" value="<%=owner.username%>">
        </form>















        <div class="classbtns">
          <a href="/logout" class="btntwo">Logout</a>
        </div>



























    </section>
  </main>



</body>